<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.user_type %></td>
  <td>
    <% if (user.user_type === 'admin') { %>
      <a href="/demote/<%= user.email %>" class="btn btn-warning btn-sm">Demote</a>
    <% } else { %>
      <a href="/promote/<%= user.email %>" class="btn btn-success btn-sm">Promote</a>
    <% } %>
  </td>
</tr>